body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A47944;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:  #D09E61;
    color: white;
    height: 100px;
}
.logo img {
    width: 190px;
    height: 190px;
}
nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.active {
    text-decoration: underline;
}
.search-icon img {
    width: 190px;
    height: 190px;
}
.content {
    display: flex;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    height: calc(100vh - 100px);
}
.text {
    width: 50%;
    color: white;
    padding: 50px;
}
.image img {
    width: 900px;
    height: 640px;
    object-fit: cover;
    border-radius: 0;
}
footer {
    background-color: #D09E61;
    height: 30px;
    width: 100%;
}
.titulo{
    color: aliceblue;
    font-size: 30px;
    font-family: "Aboreto", serif;
}
.texto{
    color: aliceblue;
    font-size: 17px;
    font-family: "Noto Serif JP", serif;
}
